@charset "utf-8";

body {
    background-color:rgb(147,197,253);
    font-family: sans-serif;
    color: #333;

    margin: 0;

    display: flex;
    justify-content:center;
    align-items: center;

    height: 100vh;
}
.site-title {
    margin: 0; /* タイトルの下に余白 */
    margin-bottom: 30px;
    font-size: 40px;
} 
.auth-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.auth-links a {
        
    display: block;
    text-decoration: none;
    font-weight: bold;
    color:rgb(73, 65, 65);
    padding: 3px 50px;
    border-radius: 50px;
}
.mypage-icon {
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 25px;
}
.setting-icon {
    position: absolute;
    top: 10px;
    right:200px;
    font-size: 25px;
}
.battle-menu {
    font-size: 80px;
    border: 2px solid gray; /* Add gray border */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.battle-menu:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.custom-font {
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(73, 65, 65);
}
.back-menu {
    position: absolute;
    top: 5px;
    left:5px;
    font-size:25px;
}
.auth-links a:hover {
    background-color:rgb(219,234,254);
}      