@charset "utf-8";

body {
    background-color:rgb(147,197,253);
    font-family: sans-serif;
    color: #333;

    margin: 0;

    display: flex;
    justify-content:center;
    align-items: center;

    height: 100vh;
}
.site-title {
    margin: 0; /* タイトルの下に余白 */
    margin-bottom: 30px;
    font-size: 40px;
}
.auth-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.auth-links a {
    display: block;
    display: flex;
    justify-content:center;
    align-items: center;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}
.auth-links a:hover {
    background-color: rgb(219,234,254);
    transform: translateY(-3px); /* Lift effect on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
.header h1{
    font-size: 5rem;
}
.detail {
    width: 170px;
    margin: 0 auto;
    padding: 5px;
}